body {
  font-family: "Lato", sans-serif;
  background-color: #1E1E1E;
  color: white;
}

.sidenav {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  font-size: 25px;
  color: #FFFFFF;
  background-color: #2C2C2C;
  overflow-x: hidden;
  padding-top: 10px;
  font-size: 12px;
  color: FFFFFF;
  padding-left: 10px;
  
}

.sidenav a {

  padding: 8px 6px 10px 20px;
  text-decoration: none;
  font-size: 25px;
  color: #FFFFFF;
  display: block;
  padding-left: 20px;
}

.sidenav a:hover {
  color:white;
  background-color: 343434;
}


.h2 {
    width: 290px;
}

.imghighlights{
  white-space: nowrap;
  height:100px; 
  width: 100px;
  float:left;  
  border-radius: 10px;
}

.h3{
  overflow-wrap: break-word; 
}

.button-container {
  margin-left: 230px; 

}

.buttonhighlights{
  margin-top: 20px;
  margin-left: 440px; 
  background-color: #1F1F1F;
}

.buttonhighlights h2{
  float: left;
  padding-left: 10px;  
  font-family: Montserrat;
  margin-bottom: 1px; 
  margin-top: 5px;
}

.buttonhighlights h3{
  float: left; 
  font-family: Montserrat; 
  font-weight: 100; 
  margin-top: 2px; 
  padding-left: 10px; 
  inline-size: 400px; 
  overflow-wrap: break-word;
  text-align: justify;
  text-justify: inter-word;
}

.textstyles{
  position: absolute; 
  bottom: 10px; 
  left: 0; 
  width: 100%; 
  padding: 10px; 
  font-family: Montserrat; 
  color: #fff;
}

.textstyles h2{
  float: left; 

}

.textstyles h3{
  float: left; 
  font-weight: 100; 
  margin-top: 2px; 
  inline-size:369px; 
  overflow-wrap: break-word; 
  text-align: justify; 
  text-justify: inter-word;
}

.imghighlight1{
  height:23px; 
  margin-right: 15px;
}

.imghighlight{
  height:18px;
  margin-right: 8px;
}

.buttonimg1 {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 20px 0 20px 20px;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.buttonimg1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 0 20px 20px;
}


.main {
  margin-left: 450px; 
  background-color: #1F1F1F;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.button1 {
    border-radius: 10px;
    background-color: #2C2C2C;
    width: 533px;
    color:#FFFFFF;
    height: 120px;
    font-size: 12;  
    padding: 5px;
    margin: 5px;
}

  .button2 {
    border-radius: 10px;
    background-color: #2C2C2C;
    width: 533px;
    color:#FFFFFF;
    height: 120px;
    font-size: 12;  
    padding: 5px;
    margin: 5px;
  }

  .button3 {
    border-radius: 10px;
    background-color: #2C2C2C;
    width: 533px;
    color:#FFFFFF;
    height: 120px;
    font-size: 12; 
    padding: 5px; 
    margin: 5px;
  }

  .button4 {
    border-radius: 10px;
    background-color: #2C2C2C;
    width: 533px;
    height: 120px;
    color:#FFFFFF;
    font-size: 12;  
    margin: 5px;
    padding: 5px;
  }

.div2 {
    float: left;
    margin-bottom: 20px;
}

.div3 {
    float: right;
    margin-bottom: 20px;

}

  .buttonhighlights{
     color: #FFFFFF;
  }

  .button5 {
    border-radius: 10px;
    background-color: #2C2C2C;
    width: 533px;
    color:#FFFFFF;
    height: 120px;
    padding: 5px;
    font-size: 12;  
    margin: 5px;
  }

  .button6 {
    border-radius: 10px;
    background-color: #2C2C2C;
    width: 533px;
    height: 120px;
    padding: 5px;
    color:#FFFFFF;
    font-size: 12;  
    margin: 5px;
  }

  .btn7 {
    border-radius: 20px;
    background-color: #2C2C2C;
    width: 388px;
    height: 460px;   
    padding-right: 12px;
    padding-bottom: 12px;    
    font-size: 12;  
    font-family: sans-serif; 
    margin-right: 20px;
    margin-bottom: 10px;
    overflow: hidden; 
    border: none; 
    padding: 0; 
    position: relative;

  }
  

  .btn8 {
    border-radius: 20px;
    background-color: #2C2C2C;
    width: 388px;
    height: 460px;   
    padding-right: 12px;
    padding-bottom: 12px;   
    font-size: 12;  
    font-family: sans-serif; 
    margin-right: 20px;
    margin-bottom: 10px;
    overflow: hidden; 
    border: none; 
    padding: 0; 
    position: relative;

  }

  .btn9 {
    border-radius: 20px;
    background-color: #2C2C2C;
    width: 388px;
    height: 460px;   
    padding-right: 12px;
    padding-bottom: 12px;   
    font-size: 12;  
    font-family: sans-serif; 
    margin-right: 20px;
    margin-bottom: 10px;overflow: hidden; 
    border: none; 
    padding: 0; 
    position: relative;

  }

  .btn10 {
    border-radius: 20px;
    background-color: #2C2C2C;
    width: 388px;
    height: 460px;   
    padding-right: 12px;
    padding-bottom: 12px;   
    font-size: 12;  
    font-family: sans-serif; 
    margin-right: 20px;
    margin-bottom: 10px;
    overflow: hidden; 
    border: none; 
    padding: 0; 
    position: relative;
  }

  .btn11 {
    border-radius: 20px;
    background-color: #2C2C2C;
    width: 388px;
    height: 460px;   
    padding-right: 12px;
    padding-bottom: 12px;   
    font-size: 12;  
    font-family: sans-serif; 
    margin-bottom: 10px;
    overflow: hidden; 
    border: none; 
    padding: 0; 
    position: relative;
  }

  
  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 10px;
      font-size: 15px;
      width: 15%;
    }
  
    .sidenav a {
      font-size: 18px;
    }
  
    .button-container,
    .buttonhighlights,
    .topmixes,
    .recplayed,
    .madeforu,
    .reco {
      padding-top: 10px;
      font-size: 15px;
      width: 15%;
    }
  
    .buttonimg1 {
      height: 100%;
      width: 15%;
    }
  
    .buttonimg1 img {
      height: 100%;
      width: 15%;
    }
  }